:root {
    --f7-theme-color: #00a0af;
    --f7-theme-color-shade: #00626b;
    --f7-theme-color-tint: #00bacb;
    --f7-theme-color-rgb: 0, 160, 175;
    --f7-navbar-bg-color: var(--f7-theme-color);
    --f7-navbar-link-color: white;
    --f7-navbar-text-color: white;
}

.searchbar-not-found .item-title {
    font-size: 64px;
    text-align: center;
    flex-grow: 1;
}

.article {
    table {
        border-spacing: 5px;
    }
}

.verweise a.link {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    color: black;
    border: 1px solid #dddddd;
    border-radius: 5px;
    justify-content: left;
}

.verweise a.link img {
    width: 40px;
    margin-right: 5px;
}

table.spec {
    border-spacing: 0px;
    border-collapse: collapse;
}

table.spec tr td {
    vertical-align: top;
}

table.spec tr th {
    text-align: left;
}

table.spec td, .spec th {
  border: 1px solid #d0d0d0;
  padding: 5px;
}

td.points {
    background-color: #95d6dc;
}